{% extends "layout.html" %}
{% block title %}
	all
{% endblock %}
{% block main %}

<div class="nav__sub">
	<h4 class="h4 nav__header">Browse all</h4>
	<div class="nav__sub--btncontainer">
		<button onclick="window.location.href='/add'" class="btn__nav pointer">+ add new</button>
		<button onclick="window.location.href='/all'" class="btn__nav pointer">browse all</button>
	</div>
</div>

<!-- Create table, loop through database, one db row is one item -->
<div class="category__wrapper">
	<div class="category__container--wrapper">
	{% for row in userData %}
		<div class="category__container category__border_radius">
			<div class="{{ row['catname'] }} category__tab category__border_radius"></div>
			<!-- Modify buttons on top of 'category__conatiner--info' div to be indepent of them -->
			<div class="category__container--modify" id="{{ row['itemid'] }}">
				<button type="button" onclick="modify(this.parentNode.id, 'edit')" class="btn__modify pointer">Edit</button>
				<button type="button" onclick="modify(this.parentNode.id, 'delete')" class="btn__modify pointer">Delete</button>
			</div>
			<div class="category__header category__border_radius">
				<h4 class="pos__abs ml__cat mt__half h4__white">{{ row['item'] }}</h4>
			</div>
			<div class="category__info--container">
				<!-- <p>{{ row['description'] }}</p> -->
				<h5 class="color__5 location">{{ row['location'] }}</h5>
				<p class="color__6 comments__width">{{ row['comments'] }}</p>
			</div>
		</div>
	{% endfor %}
	</div>
	{% if side == 'sidebar' %}
		{% include 'sidebar.html' %}
	{% endif %}
	
</div>
{% endblock %}




		
