
		<div>
			<div class="nav__sidebar--outerwrapper">
				<div class="nav__sidebar--innerwrapper"> 
					<ul>
						<a class="textdec__none" href="/category/household">
							<div class="nav__sidebar--container bg__color--white">
								<div class="nav__sidebar--circle household"></div>
								<p class="color__3 btn__sidebar f__category">Household</p>
							</div>
						</a>
						<a class="textdec__none" href="/category/cooking">
							<div class="nav__sidebar--container bg__color--white">
								<div class="nav__sidebar--circle cooking"></div>
								<p class="color__3 btn__sidebar f__category">Cooking</p>
							</div>
						</a>
						<a class="textdec__none" href="/category/hobbies">
							<div class="nav__sidebar--container bg__color--white">
								<div class="nav__sidebar--circle hobbies"></div>
								<p class="color__3 btn__sidebar f__category">Hobbies</p>
							</div>
						</a>
						<a class="textdec__none" href="/category/electronics">
							<div class="nav__sidebar--container bg__color--white">
								<div class="nav__sidebar--circle electronics"></div>
								<p class="color__3 btn__sidebar f__category">Electronics</p>
							</div>
						</a>
						<a class="textdec__none" href="/category/keepsakes">
						<a class="textdec__none" href="/category/holiday">
							<div class="nav__sidebar--container bg__color--white">
								<div class="nav__sidebar--circle holiday"></div>
								<p class="color__3 btn__sidebar f__category">Holiday</p>
							</div>
						</a>
						<a class="textdec__none" href="/category/tools">
							<div class="nav__sidebar--container bg__color--white">
								<div class="nav__sidebar--circle tools"></div>
								<p class="color__3 btn__sidebar f__category">Tools</p>
							</div>
						</a>
						<a class="textdec__none" href="/category/paperwork">
							<div class="nav__sidebar--container bg__color--white">
								<div class="nav__sidebar--circle paperwork"></div>
								<p class="color__3 btn__sidebar f__category">Paperwork</p>
							</div>
						</a>
						<a class="textdec__none" href="/category/yard">
							<div class="nav__sidebar--container bg__color--white">
								<div class="nav__sidebar--circle yard"></div>
								<p class="color__3 btn__sidebar f__category">Yard</p>
							</div>
						</a>
						<a class="textdec__none" href="/category/clothing">
							<div class="nav__sidebar--container bg__color--white">
								<div class="nav__sidebar--circle clothing"></div>
								<p class="color__3 btn__sidebar f__category">Clothing</p>
							</div>
						</a>
							<div class="nav__sidebar--container bg__color--white">
								<div class="nav__sidebar--circle keepsakes"></div>
								<p class="color__3 btn__sidebar f__category">Keepsakes</p>
							</div>
						</a>
						<a class="textdec__none" href="/category/work">
							<div class="nav__sidebar--container bg__color--white">
								<div class="nav__sidebar--circle work"></div>
								<p class="color__3 btn__sidebar f__category">Work</p>
							</div>
						</a>
						<a class="textdec__none" href="/category/misc">
							<div class="nav__sidebar--container bg__color--white">
								<div class="nav__sidebar--circle misc"></div>
								<p class="color__3 btn__sidebar f__category">Misc</p>
							</div>
						</a>
					</ul>
				</div>
			</div>
		</div>
