{% extends "layout.html" %}

{% block title %}
	edit
{% endblock %}
{% block main %}
<div class="edit__add--wrapper">
<div class="edit__wrapper">
	<div class="edit__container--wrapper">
		<div class="edit__container">
			<div class="category__header category__border_radius">
				<h4 class="pos__abs ml__edit mt__edit h4__white category__header__h4">Edit: {{ userData[0]['item'] }}</h4>
			</div>
			<div class="category__orange"></div>
			<div class="{{ userData[0]['category'] }} edit__tab category__border_radius"></div>
			<form method="post" id="add_form3" class="edit__form">
				<p class="color__5 mt__1"></p>
				<input type="hidden" id="current"  name="hidden" value="{{ userData[0]['category'] }}">
				<select name="category" id="category"  class="mt__m1">
					<option value="" selected disabled><span>Please select</span></option>
					<option name="household" value="household" >Household</option>
					<option name="paperwork" value="paperwork">Paperwork</option>
					<option name="keepsakes" value="keepsakes">Keepsakes</option>
					<option name="hobbies" value="hobbies">Hobbies</option>
					<option name="cooking" value="cooking">Cooking</option>
					<option name="yard" value="yard">Yard</option>
					<option name="tools" value="tools">Tools</option>
					<option name="holiday" value="holiday">Holiday</option>
					<option name="clothing" value="clothing" >Clothing</option>
					<option name="electronics" value="electronics">Electronics</option>
					<option name="misc" value="misc">Misc</option>
				</select>
				<!-- Warning element -->
				<p class="red no_category"></p>
				<p class="color__5 mt__2">Location</p>
				<input type="text" name="location" id="location" value="{{ userData[0]['location']}}"></input>
				<p class="color__5 mt__2">Comments (optional)</p>
				<textarea name="comments" id="comments" name="comments" class="edit__comments" maxlength="120">{{ userData[0]['comments']}}</textarea>
				<br>
			</form>
			<!-- Button event triggers js function which sends item id to the back end -->
			<div class="edit__btn--container">
				<div id="{{ userData[0]['itemid'] }}">
					<button type="click" class="btn__base btn__makechanges btn__cancel pointer edit__submit">Submit</button>
				</div>
				<!-- Cancel button retreives the current category page -->
				<div id="{{ userData[0]['category'] }}">
					<button class="btn__base btn__cancel pointer edit__cancel">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	{% if side == 'sidebar' %}
		{% include 'sidebar.html' %}
	{% endif %}
</div>
</div>

{% endblock %}

